<!-- <div class="container-fluid">

  <div class="moreHeader row">
    <div class="col-xs-6" >
      <div class="btn-group ">
          <button type="button" class="btn btn-white" (click)="getQues()" type="button">
              VIEW ALL QUESTIONS
          </button>
      </div> -->
      <!-- <button class="btn btn-white" (click)="getRest()" type="button"><h2></h2></button> -->
    <!-- </div>
  </div>
  <hr>
</div> -->
<div class='survey-container contentcontainer codecontainer'>
  <div id='surveyElement'></div>
</div>
