<body>
  <div class="container">

  <h1>GREAT PLACES TO SCHOOL</h1>
  <form class="form-signin">
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address"[(ngModel)]="loginUserData.email" name="email"  required autofocus>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="loginUserData.password" name="password"required>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" (click)="loginUser()" type="button">Sign in</button>

      <div class="text-center mb-3">
          <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h5 mb-3 font-weight-normal">Don't have an account?</h1>
          <p  class="h6 mb-3 font-weight-normal"><a routerLink="/sign-up">Sign Up.</a></p>
        </div>
    </form>
  </div>
  </body>
  <!-- <div class="signup-form">
    <form class="" method="post">
      <h1>GREAT PLACES TO SCHOOL</h1>
      <h2>Welcome Back! Log In to your Account</h2>
      <input type="text" placeholder="Enter Your Email" class="txtb">
      <input type="Password" placeholder="Password" class="txtb" >
      <div class="buttons">
        <input type="submit" value="Log In" class="signup-btn">
        <input type="submit" value="Sign Up" class="signup-btn">
      </div>

    </form>
  </div> -->

