<app-loader *ngIf="isLoading"></app-loader>

<div class="card col-md-6 offset-md-3">
  <div class="card-body">
    <form class="form-signin">

      <div class="form-label-group">
        <input required type="text" [(ngModel)]="registerUserData.username" placeholder="Username" name="username"
          class="form-control rounded-0" required>
      </div>
      <div class="form-label-group">
        <input required type="email" [(ngModel)]="registerUserData.email" placeholder="Email address" name="email"
          class="form-control rounded-0" required>
      </div>
      <div class="form-label-group">
        <input required type="password" [(ngModel)]="registerUserData.password" placeholder="Password" name="password"
          class="form-control rounded-0" required>
      </div>
      <button type="button" (click)="registerUser()" class="btn btn-lg btn-primary btn-block">Register</button>
      <div class="text-center mb-3">
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h5 mb-3 font-weight-normal">Already have an account?</h1>
        <p class="h6 mb-3 font-weight-normal"><a routerLink="/login">Sign In.</a></p>
      </div>
    </form>
  </div>

</div>
