<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
  <a class="navbar-brand" routerLink="/">GPTS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="float: right;">

<!-- to be displayed when user is not logged in-->

<!-- to be displayed on login -->
      <li class="nav-item">
          <a class="nav-link" routerLink="/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

