.sticky-top {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .08);
  position: absolute;
  top: 0;
  bottom: 55;
  height: 70px;
  width: 100%;
}

.navbar-brand {
  margin-top: -15px;
}

.collapse {
  margin-right: 0;
}

.content {
  height: 200vh;
}

.collapse {
  padding-right: 0px;
}

.mr-auto {
  margin-right: auto !important;
  /* float: right; */
}

@media screen and (min-width: 960px) {
  .mr-auto {
    margin-right: auto !important;
    float: left;
  }
}

@media (min-width: 100px) and (max-width: 480px) {

  .l {
    width: 180px;
    height: 25px;
  }

}
