<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top mb-5  bg-white">
  <div class="container-fluid">
      <a class="navbar-brand mb-2" routerLink="/"><img src="/assets/gpts_logo_long1.png" alt="" srcset="" width="360" height="50"></a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-auto" style="float: right;">

    <!-- to be displayed when user is not logged in-->

    <!-- to be displayed on login -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/"><b>About Us</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active"><b>Register</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/profile" routerLinkActive="active"><b>Profile</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"><b>Logout</b></a>
          </li>
        </ul>
      </div>
  </div>
</nav>
