<header id='header'>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Dashboard <small><i>Manage your Analysis process</i></small></h1>
      </div>
      <div class="col-md-2">
        <br>
        <!-- Small button group -->
          <div class="btn-group Create">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New Users <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" arial-labelledby='dropdownMenu1'>
              <li ><a type='button' data-toggle='modal' data-target='#addUser'>Users</a></li>
              <li><a type='button' data-toggle='modal' data-target='#addRoles'>roles</a></li>
              <li><a type='button' data-toggle='modal' data-target='#Permissions'>Permissions</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</header>

<section id='main'>
  <div class="container">
    <div class="row">
      <!-- side bar -->

      <div  class="col-md-3">

        <div class="list-group">
          <div class='mine'>
<ul>
  <a href="index.html" id='nam' class="list-group-item active main-color-bg">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Dashboard
  </a>

      <li><a href="inbox.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Inbox <span class="badge">3</span> </a>
        <ul>
          <li>one</li>
          <li>two</li>
        </ul>
      </li>
    <li>  <a href="Survey.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Survay <span class="badge">6</span></a></li>
    <li>  <a href="Calendar" class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Calender</a></li>
    <li>  <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> users <span class="badge">51</span></a></li>
    <li>  <a href="Settings.html" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
</ul>
</div>
    </div>
<ul>
    <div class="well">
      <h6>program progress</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>
<h6>Active respondent</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
90%
</div>
</div>
<h6>Used forms</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
12%
</div>
</div>
    </div>
  </ul>
      </div>
      <!-- main area -->
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading" id='nam'>

            <h3 class="panel-title">Survey Overview</h3>
            </div>
          <div class="panel-body">
            <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 270</h2>
                  <h4>Respondents</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 103</h2>
                  <h4>Verifiers</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 205</h2>
                  <h4>Scripters</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 20</h2>
                  <h4>Judges</h4>
                </div>
            </div>
          </div>
        </div>

        <!-- latest Users -->
        <div class="panel panel-default">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">latest users</h3>
          </div>
          <div class="panel-body">
              <table class="table table-strip table-hover">
                <thead>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date Joined</th>
                </thead>
                <tr>
                  <td>Lincoln</td>
                  <td>Lincoln@gmail.com</td>
                  <td>22/12/2019</td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>jane@gmail.com</td>
                  <td>22/12/2019</td>
                </tr>
                <tr>
                  <td>June</td>
                  <td>june@gmail.com</td>
                  <td>22/12/2019</td>
                </tr>
              </table>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
