.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

.btn {
  color: white;
  font-weight: bold;
  background-color: #D85A00;
}

p {
  font-weight: bold;
}
