<app-loader *ngIf="isLoading"></app-loader>
<div class="container" *ngIf="!isLoading">
  <div class="well">
    <p>Pick the categories you want to participate in below. you can always come back and edit your answers before the
      nomination period ends</p>

  </div>
  <div class="card" *ngFor="let res of cats">
    <div class="card-body">
      <h3 class="card-title">{{res.name}}</h3>
      <p class="card-text">{{res.description}}</p>
      <button class="btn btn-block" (click)="getQues(res.id)">
        Answer or Edit your answers <i class="fa fa-angle-double-right"></i></button>

    </div>
  </div>
</div>
