<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div class="signup-form">
      <form class="" method="post">
        <h1>GREAT PLACES TO SCHOOL</h1>
        <h2>Welcome Back! Log In to your Account</h2>
        <input type="text" placeholder="Enter Your Email" class="txtb">
        <input type="Password" placeholder="Password" class="txtb" >
        <div class="buttons">
          <input type="submit" value="Log In" class="signup-btn">
          <input type="submit" value="Sign Up" class="signup-btn">
        </div>

      </form>
    </div>
  </body>
</html>
