<!-- <h2 mat-dialog-title>Register</h2> -->
<mat-dialog-content>

  <p>Is your school a great place to school? Would you like to nominate your school?</p><br>
  <p>Do so by registering now or signing in if you already have in order to participate in the Great Places to School
    Initiative</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row">
    <div class="col-sm l">
      <button mat-raised-button class="btn " (click)="register()">Register</button>
    </div>
    <div class="col-sm l">
      <button mat-raised-button id="left" (click)="login()" class="btn btn-left ">Sign
        In</button>
    </div>
  </div>


</mat-dialog-actions>
