<div class="container-fluid">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-6" style="
        margin-top: 10px;
        font-size: 32px;
          text-align: center;
          color: #F48637;
          background-color: transparent">
      <b>SUMMARY</b>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-md-10" style="
          font-size: 16px;
          text-align: center;
          color: #333;
          background-color: transparent">
        <p>For your school to be considered a Great Place to School, you are required to provide general information for evaluation. This information will be kept confidential and we shall not disclose it to any unauthorized persons. 
            Thank you for taking the time to fill out the following online form.
            We are working on how to improve the quality of learning in schools by subjecting the schools to a regular confirmation of competence as Great Places to School.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10" style="
          font-size: 16px;
          text-align: center;
          color: #333;
          background-color: transparent">
        <p>The online form has 8 different categories which include:</p>
      </div>
    </div>
    <div class="bs-example mb-3" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;">
    <div class="accordion bg-white" id="accordionExample">
      <div class="card ">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseOne"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> Safety and Security</button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school a safe and secure environment for learners where they, and their parents, are assured of their protection as they learn? Tell us about what measures you have put in place for the students.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseTwo"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> Career and Entrepreneurship Development </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p>Does your school offer an entrepreneurial environment for students to develop their entrepreneurial ideas? Is Career and Entrepreneurship Development - Does your school offer an entrepreneurial environment for students to develop their entrepreneurial ideas? Is your school a great place for learners to develop their career aspirations in pursuit of their professional aspirations? Tell us about the entrepreneurial activities in your school and the career advice offered to students, that nurtures their dreams into professional careers.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseThree"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> STEM Education (Science, Technology, Engineering and Mathematics)</button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p>Does your school ignite an interest in Science, Technology, Engineering and Mathematics? Tell us how you support STEM education, awards you have won, facilities present and ICT resources present in the school for learning purposes.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseFour"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Governance </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school open to listening to the needs of the learners and accommodating their views? Tell us about the system of governance in place and how this builds confidence and authority in your learners, how they speak out for what they truly believe, and how they address issues that move them.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseFive"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Extra-curricular and Sports Activities  </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school a sporting environment for learners to develop their physical talents in their quest for sporting glory? Tell us about the expert advice offered to students, and the expert physical activities and facilities offered by your school for developing physical abilities into skilled talent. 
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseSix"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Academics (Other)  </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school an enlightening place for learners to study and get a wholesome education? Tell us about the non-examinable offerings, variety of subjects on offer, cultural exchange programs, student-teacher ratio, outstanding awards, and providing an enlightening environment for learners to excel. 
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseSeven"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Character and Creative Talent  </button>
          </h2>
        </div>
        <div id="collapseSeven" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school an environment that moulds learners into authentic people of honest character? Tell us about the character guidance and direction offered to learners through molding and by instruction so that they are able to express their personalities in a healthy and strong way for developing creativity and respectable character and creativity in learners.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseEight"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Health and Personal Hygiene </button>
          </h2>
        </div>
        <div id="collapseEight" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            <p>Is your school open to listening to the needs of the learners and accommodating their views? Tell us about the system of governance in place and how this builds confidence and authority in your learners, how they speak out for what they truly believe, and how they address issues that move them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-block" (click)="startsurvey()">
    Start <i class="fa fa-play-circle" aria-hidden="true"></i></button>
</div>
