<app-loader *ngIf="isloading"></app-loader>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card" style="height: 70rem;" *ngIf="!isloading">
      <!-- <img class="card-img-top" src="https://via.placeholder.com/40" alt="Card image cap"> -->
      <div class="card-body">
        <form novalidate (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name of The School</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" id="name"
              placeholder="Name of the School">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">The School's Email address</label>
            <input type="email" required class="form-control" name="email" [(ngModel)]="user.email"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Schools email adress">

          </div>
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="role">Your Role in the School</label>
            <input type="text" class="form-control" name="role" id="role">
          </div>
          <hr>
          <h2>School Demographics</h2>
          <hr>
          <div class="form-group">
            <label for="gender">School Gender</label>
            <select class="form-control" (change)="genderselected($event)" name="school_gender" id="gender"
              [(ngModel)]="profile.school_gender">
              <option value="Boys">Boys</option>
              <option value="Girls">Girls</option>
              <option value="Mixed">Mixed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="type">School Type</label>
            <select class="form-control" name="school_type" id="type" [(ngModel)]="profile.school_type">
              <option value="Boys">Boarding</option>
              <option value="Girls">Day</option>
              <option value="mixed">Both Boarding and Day</option>
            </select>
          </div>
          <div class="form-group" *ngIf="isboys">
            <label for="boyspop">Boys Population</label>
            <input type="number" required class="form-control" name="boys_pop" [(ngModel)]="profile.boys_pop"
              id="boyspop">
          </div>
          <div class="form-group" *ngIf="isgirls">
            <label for="girlspop">Girls Population</label>
            <input type="number" required class="form-control" name="girls_pop" [(ngModel)]="profile.girls_pop"
              id="girlspop">
          </div>
          <div class="form-group">
            <label for="tpop">Teachers Population</label>
            <input type="number" required class="form-control" name="teachers_pop" [(ngModel)]="profile.teachers_pop"
              id="tpop">
          </div>
          <hr>
          <h2>Location of the School</h2>
          <hr>
          <div class="form-group">
            <label for="county">county</label>
            <select class="form-control" name="county" [(ngModel)]="profile.county">
              <option value='Baringo'>Baringo</option>
              <option value='Bomet'>Bomet</option>
              <option value='Bungoma'>Bungoma</option>
              <option value='Busia'>Busia</option>
              <option value='Elgeyo-Marakwet'>Elgeyo-Marakwet</option>
              <option value='Embu'>Embu</option>
              <option value='Garissa'>Garissa</option>
              <option value='Homa Bay'>Homa Bay</option>
              <option value='Isiolo'>Isiolo</option>
              <option value='Kajiado'>Kajiado</option>
              <option value='Kakamega'>Kakamega</option>
              <option value='Kericho'>Kericho</option>
              <option value='Kiambu'>Kiambu</option>
              <option value='Kilifi'>Kilifi</option>
              <option value='Kirinyaga'>Kirinyaga</option>
              <option value='Kisii'>Kisii</option>
              <option value='Kisumu'>Kisumu</option>
              <option value='Kitui'>Kitui</option>
              <option value='Kwale'>Kwale</option>
              <option value='Laikipia'>Laikipia</option>
              <option value='Lamu'>Lamu</option>
              <option value='Machakos'>Machakos</option>
              <option value='Makueni'>Makueni</option>
              <option value='Mandera'>Mandera</option>
              <option value='Marsabit'>Marsabit</option>
              <option value='Meru'>Meru</option>
              <option value='Migori'>Migori</option>
              <option value='Mombasa'>Mombasa</option>
              <option value='Muranga'>Murang'a</option>
              <option value='Nairobi City'>Nairobi City</option>
              <option value='Nakuru'>Nakuru</option>
              <option value='Nandi'>Nandi</option>
              <option value='Narok'>Narok</option>
              <option value='Nyamira'>Nyamira</option>
              <option value='Nyandarua'>Nyandarua</option>
              <option value='Nyeri'>Nyeri</option>
              <option value='Samburu'>Samburu</option>
              <option value='Siaya'>Siaya</option>
              <option value='Taita-Taveta'>Taita-Taveta</option>
              <option value='Tana River'>Tana River</option>
              <option value='Tharaka-Nithi'>Tharaka-Nithi</option>
              <option value='Trans Nzoia'>Trans Nzoia</option>
              <option value='Turkana'>Turkana</option>
              <option value='Uasin Gishu'>Uasin Gishu</option>
              <option value='Vihiga'>Vihiga</option>
              <option value='West Pokot'>West Pokot</option>
              <option value='wajir'>wajir</option>
            </select>

          </div>
          <div class="form-group">
            <label for="subcounty">Sub County</label>
            <input type="text" required class="form-control" name="subcounty" [(ngModel)]="profile.subcounty"
              id="county" id="address" placeholder="Sub County">
          </div>
          <div class="form-group">
            <label for="address">Constituency</label>
            <input type="text" required class="form-control" name="constituency" [(ngModel)]="profile.constituency"
              id="county" id="address" placeholder="Postal Address of the school">
          </div>
          <div class="form-group">
            <label for="address">Ward</label>
            <input type="text" required class="form-control" name="ward" [(ngModel)]="profile.ward" id="county"
              id="address" placeholder="Postal Address of the school">
          </div>


          <div class="form-group">
            <label for="county">Telephone Number</label>
            <input type="text" required class="form-control" name="telephone" [(ngModel)]="profile.telephone"
              id="telephone" placeholder="Schools Telephone Number">
          </div>
          <div class="form-group">
            <label for="address">Postal Address</label>
            <input type="text" required class="form-control" name="postaladdress" [(ngModel)]="profile.postaladdress"
              id="county" id="address" placeholder="Postal Address of the school">
          </div>
          <div class="form-group">
            <label for="description">A brief Description about the School</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="10"
              [(ngModel)]="profile.description"></textarea>
          </div>
          <hr>
          <h2>Social Media Handles</h2>
          <hr>
          <div class="form-group">
            <label for="website">School's Website</label>
            <input type="text" required class="form-control" name="website" [(ngModel)]="profile.website" id="website"
              id="address" placeholder="school.com">
          </div>
          <div class="form-group">
            <label for="twitter">Twitter</label>
            <input type="text" required class="form-control" name="twitter" [(ngModel)]="profile.twitter" id="twitter"
              placeholder="Twitter Handle of the school">
          </div>
          <div class="form-group">
            <label for="fb">Facebook </label>
            <input type="text" required class="form-control" name="facebook" [(ngModel)]="profile.fb" id="fb"
              placeholder="Facebook Account for the school">
          </div>
          <div class="form-group">
            <label for="other">Others</label>
            <input type="text" required class="form-control" name="other" [(ngModel)]="profile.other" id="other"
              placeholder="Other Social Media Handles">
          </div>
          <!-- 
          <div class="form-group">
            <label for="city">city</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="profile.city" id="county" id="city"
              placeholder="Nairobi, Kisumu">
          </div> -->
          <!-- <div class="form-group">
            <label for="zip">zip</label>
            <input type="text" class="form-control" name="zip" [(ngModel)]="profile.zip" id="county" id="zip"
              placeholder="Zip Code">
          </div> -->
          <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
