.foot {
  width: 100%;
  position: bottom;
  left: 0;
  bottom: 0;
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  padding: 5px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  width:100%;
  /* background-size: auto; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide {
  /* height: 200px; */
  /* background: url("http://placehold.it/800x800/FF00FF") no-repeat #21639e; */
  border-radius: 100%/0 0 100px 100px;
  box-shadow: 0px 10px 0px #F48637;
}

.contact {
  border-top: solid #F48637 1px;
  /* border-top-left-radius:  40%;
  border-top-right-radius: 40%; */
  /* box-shadow: 10px 0px 0px #F48637; */
}

#sticky-footer {
  border-top: solid #F48637 1px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  border-radius: 10px;
  height: 250px;
  perspective: 1000px;
}

.lead {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 10px;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: #222;
}

.flip-card-back {
  padding: 10px;
  background-color: #F48637;
  text-align: left;
  color: #222;
  transform: rotateY(180deg);
}

.flip-card-back p i {
  padding: 8px;

}

#loginBtn {
  background-color: #F48637;
}
.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  width: 100%;
  height: auto;
}

.flippy .space img{
  width:250px;
  height:250px;
  margin: 0 auto;
}

.flippy .space{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.flippy .space .flip-card{
  margin: 0 auto;
}

.flippy .space .flip-card p {
  font-family: Montserrat;
}

.flippy .space p{
  font-size: 18px;
  text-align: center;
}

.flippy .space h4{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-bottom: 4px;
}


.flippy .space .flip-card i{
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
}

@media screen and (max-width: 768px) {
  .flippy .space{
    margin-bottom: 125px;
  }
}



@media screen and (min-width: 768px) {
  .carousel-containers {
    padding: 1.5em 0;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}
