<div class="container-fluid ">
  <div class="row" style="height: 30px; background-color: transparent;">
  </div>
  <div id="carouselExampleIndicators" class="carousel slide mb-0 mt-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background: url('/assets/custom – 1.png') ;background-size: cover; ">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <!-- <p class="lead"></p> -->
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background: url('/assets/carousel2.jpg');background-size: cover; ">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" style="color:#F48637"></h2>
          <p class="lead">Some of Last year's Winners during the'Great Places to School' gala Dinner at Safari Park
            Hotel, Nairobi.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/assets/standard group.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <p class="lead">Standard Group CEO Orlando Lyomu (Right) with representatives of Makini Schools, who won in
            two categories during the 'Great Places to School' gala Dinner at Safari Park Hotel, Nairobi. </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-10" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 32px;
          margin-top: 80px;
          text-align: center;
          color: #F48637;
          background-color: transparent">
      <b>Why Great Places to School?</b>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10" style="
            font-size: 16px;
            text-align: center;
            color: #333;
            background-color: transparent">
        <p>“Students spend most of their formative years in schools, and it is critical that schools offer a vital
          opportunity to ensure that they get the support required to reach their full potential.</p>
      </div>
    </div>

  </div>





  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-10" style="
        margin-top: 40px;
        font-size: 32px;
        text-align: center;
        color: #F48637;
        background-color: transparent">
      <b>What We Do </b>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10" style="
          font-size: 16px;
          text-align: center;
          color: #333;
          background-color: transparent">

        <p>We are an impact-driven initiative with the aim of identifying, rating and recognizing schools whose innovative learning
          environment and overall school culture contribute to the wholesome development of students.</p>
      </div>
    </div>

  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-6" style="
        margin-top: 60px;
        font-size: 32px;
          text-align: center;
          color: #F48637;
          background-color: transparent">
      <b>Why You Should Participate</b>
    </div>
  </div>
  <div class="bs-example" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;">
    <div class="accordion bg-white" id="accordionExample">
      <div class="card ">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseOne"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> Know Your
              School Better</button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>Know what is working best for your School</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseTwo"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> Assess and
              Benchmark Your School</button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p>Assess and benchmark your school culture and be able to identify the gaps and how to best transform your school.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseThree"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i> Earn
              National Recognition</button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p>Earn national recognition by being ranked among the Great Places to School
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" style="
                      font-size: 20px; color:#F48637;" data-toggle="collapse" data-target="#collapseFour"><i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i>Grow Your
              Brand</button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" style="
        font-size: 16px;" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <p>Our recognition will build your brand and make your school be recognized as a Great Place to School
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-6" style="
          font-size: 32px;
          text-align: center;
          color: #F48637;
          background-color: transparent">
      <b>Great Places to School Categories</b>
    </div>
  </div>
  <!---Flipcards Starts Here-->
  <div class="container flippy">
    <div class="row">
      <div class="col-md-4 col-sm-6 space">
        <p><b>STEM (Science, Technology, Engineering & Mathematics)</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/stem.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy fa-3x" aria-hidden="true" style="font-size: 20px;"> Juja Preparatory and Senior Schools</i></p>
              <p ><i class="fa fa-certificate fa-2x" aria-hidden="true" style="font-size: 20px;"> Sacho High School</i></p>
              <p ><i class="fa fa-certificate fa-2x" aria-hidden="true" style="font-size: 20px;"> M-pesa Foundation Academy</i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space">
        <p><b>Talent Development (Music, Dance, Art, Drama, and Sports)</b></p>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/sports drama music.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Makini Schools</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Greensteds International School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Laiser Hill Academy, Ongata Rongai</i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 space">
        <p><b>Business/Entrepreneurship projects</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/entrepreneurship.png" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> M-pesa Foundation</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Kibera Girls’ Soccer School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Rusinga Schools</i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 space">
        <p><b>Governance</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/ipsiring-governance-1.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Laiser Hill Academy, Ongata Rongai</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> The Excellence School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Rusinga School</i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space">
        <p><b>Career development</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/career-path-development.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Crawford International School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Oshwal Academy, Mombasa</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Rusinga Schools</i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space">
        <p><b>Character & creativity</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/character.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Makini School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Clay International</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Greensteds International School</i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space">
        <p><b>Academics</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/academics.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Crawford International School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Lukenya Academy IGCSE (British Curriculum)</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Rusinga Schools</i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space">
        <p><b>Safety & security</b></p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/assets/safety.jpg" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <h4>LAST YEAR'S WINNERS IN THIS CATEGORY</h4>
              <p><i class="fa fa-trophy" aria-hidden="true" style="font-size: 20px;"> Greensteds International School</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Juja Preparatory and Senior Schools</i></p>
              <p><i class="fa fa-certificate" aria-hidden="true" style="font-size: 20px;"> Graceland Girls’ Senior School</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Flip cards end here -->



  <div class="row" style="height: 50px; background-color: transparent;">
  </div>
  <div class="row mt-auto mb-5 d-flex justify-content-around">
    <div class="col-lg-8 mx-auto text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 32px;
          text-align: center;
          color: #F48637;
          background-color: transparent">

      <b>Great Places to School in the Media</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 resp-container">
      <iframe class="resp-iframe" width="460" height="215" src="https://www.youtube.com/embed/fYETQ3OLELQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6 resp-container">
      <iframe width="460" height="215" src="https://www.youtube.com/embed/6aR5vUAc7Bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
  <div class="row" style="height: 50px; background-color: transparent;">
  </div>
  <div class="row mt-auto mb-5 d-flex justify-content-around">
    <div class="col-lg-8 mx-auto text-center" style="
      font-size: 32px;
      text-align: center;
      color: #F48637;
      background-color: transparent">
      <b>Partners</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 resp-container">
      <img src="/assets/partners.png" class="img-responsive" width="100%" alt="" srcset="">
    </div>
  </div>
  <div class="row" style="height: 50px; background-color: transparent;">
  </div>
  <div class="row mt-auto mb-5 d-flex justify-content-around contact">
    <div class="col-lg-8 mx-auto text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 28px;
      text-align: center;
      color: #F48637;
      background-color: transparent">
      <br>
      <p>Get In Touch and we can have a chat about how GTPS will benefit your school</p>
    </div>
  </div>
  <div class="row justify-content-center align-self-center">
    <b>Contact ANNIE</b>
  </div>
  <div class="row justify-content-center align-self-center">
    <p><i class="fa fa-phone" aria-hidden="true"></i>+254-703-144103</p>
  </div>
  <div class="row justify-content-center align-self-center">
    <p><i class="fa fa-envelope" aria-hidden="true"></i>greatplacestoschool@standardmedia.co.ke</p>
  </div>

  <!-- <div class="col-md-5">
      <p><i class="fa fa-envelope" aria-hidden="true"></i>greatplacestoschool@standardmedia.co.ke</p>
    </div> -->
  <!-- </div> -->
  <footer id="sticky-footer" class="py-4 bg-white text-dark-50 ">
    <div class="container text-center">
      <small style="color:#F48637;">Copyright &copy; GPTS</small>
    </div>
  </footer>
